# LOOP

In [2]:
#write a program to print 1 to 50.
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [19]:
#write a programm to print 1 to 50.and count the even and odd values separately .
count=0
for i in range(1,51):
    if i%2==0:
        print(i)
        count=count+1
        print("count---->",count)

2
count----> 1
4
count----> 2
6
count----> 3
8
count----> 4
10
count----> 5
12
count----> 6
14
count----> 7
16
count----> 8
18
count----> 9
20
count----> 10
22
count----> 11
24
count----> 12
26
count----> 13
28
count----> 14
30
count----> 15
32
count----> 16
34
count----> 17
36
count----> 18
38
count----> 19
40
count----> 20
42
count----> 21
44
count----> 22
46
count----> 23
48
count----> 24
50
count----> 25

In [20]:
count=0
for i in range(1,51):
    if i%2!=0:
        print(i)
        count=count+1
        print("count---->",count)

1
count----> 1
3
count----> 2
5
count----> 3
7
count----> 4
9
count----> 5
11
count----> 6
13
count----> 7
15
count----> 8
17
count----> 9
19
count----> 10
21
count----> 11
23
count----> 12
25
count----> 13
27
count----> 14
29
count----> 15
31
count----> 16
33
count----> 17
35
count----> 18
37
count----> 19
39
count----> 20
41
count----> 21
43
count----> 22
45
count----> 23
47
count----> 24
49
count----> 25

In [22]:
#write a programm to print -1 to 10.
for i in range(-1,11):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

In [28]:
#write a programm to print 1 to 50 in a way to skip a number.
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49